<%- include ("header.ejs") %>
<%- include ("menu.ejs") %>

<main>
    <div id="addform">
        <form action="" method="post">
            <label for="categoryName">Category: </label>
            <input type="text" name="categoryName" id="categoryName" value="<%= item.categoryName %>"/>
            <br>
            <br>
            <button>SAVE</button>            
        </form>
    </div>
</main>
<%- include ("footer.ejs") %>